.swal2-confirm {
  background-color: #d9534f !important; /* Rojo para el botón de Aceptar */
  color: white !important;
}

.swal2-confirm:hover {
  background-color: #c9302c !important; /* Rojo más oscuro para hover */
}

.swal2-cancel {
  background-color: #000000 !important; /* Negro para el botón de Cancelar */
  color: white !important;
}

.swal2-cancel:hover {
  background-color: #333 !important; /* Gris oscuro para hover */
}
