.swal2-confirm {
  background-color: #d9534f !important; 
  color: white !important;
}

.swal2-confirm:hover {
  background-color: #c9302c !important;
}

.swal2-deny {
  background-color: #000000 !important; 
  color: white !important;
}

.swal2-deny:hover {
  background-color: #333 !important; 
}
